

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.main-container{
    background-image: url(images/mainbg.jpg);
    height: 100vh;
    background-size: cover;

}

.container{
    width: 90%;
    margin: auto;
}


.adminNav{
    height: 8rem;
    padding: 1.7rem;
    
}
.adminLink{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}


.logo{
    color: white;
    font-size: 1.2rem;
    font-weight:medium;
    text-transform: uppercase;
}
.adminLink a{
    color: white;
    text-decoration: none;
    border-radius: 2rem;
    border: 1px solid white;
    padding: .2rem 1rem;
    font-size: .9rem;
    transition: all 0.4s ;
   
}

.adminLink a:hover{
    background-color: rebeccapurple;
    border: 1px solid rebeccapurple;

}

.main-gallery{

    display: flex;
    flex-direction: row;
    color:white;
    
   


}


.gallery-sec{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 2rem;
    padding:0 5rem;
    flex-basis: 60%;
    
}

.gbox{
    width: 15rem;
    height: 12rem;
    background-color: white;
    margin-left: .2rem;
    margin-top: .2rem;
    overflow: hidden;
    flex:0 0 auto;
    transition: all 0.3s ease-in-out;
}

.gbox:hover{
    box-shadow:0px 0px 15px 0px rgba(50, 50, 50, 0.57);
    
    border: 1px solid white;
    
}
.gallerybtn{
    flex:0 0 40%;
}

.g-heading{
    font-size: 6rem;
    font-weight: lighter;
    margin-bottom: 1rem;
    
    color: #FFFFFF;
}

.g-btn{
    display: block;
    border: none;
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 30%, rgba(255,255,255,0) 100%);
    outline: none;
    cursor: pointer;
    font-size: 1.8rem;
    margin-bottom: .8rem;
    text-align: left;
    width: 26rem;
    padding: .2rem .5rem;
    color:rebeccapurple;
    transition: all 0.5s ease-out;
}

.g-btn:hover{
    background: linear-gradient(90deg, rgba(102,51,153,1) 0%, rgba(102,51,153,1) 30%, rgba(102,51,153,0) 100%);
    color: white;
}

.g-info{
    margin-top: 1.5rem;
    background-color: rgb(13, 1, 24, .4);
    width: 100%;
    height: 15rem;
    padding: 2rem;

}

.g-info-heading{
    font-weight: normal;
    color: rebeccapurple;
    margin-bottom: 1rem;
    text-shadow:0px 0px 11px 0px rgba(50, 50, 50, 0.41); ;
}

.g-info-text{
    line-height: 1.5rem;
}

.nav-container{
    margin-top: 2rem;
    margin-right: 13rem;
    float: right;
}

.main-nav-links{
    display: flex;
}

.navlink{
    list-style: none;
    margin-left: 4rem;
    border-radius: 1rem;
    border: 1px solid white; 
    padding: .2rem 1.2rem;
    transition: all 0.3s ease-out;
    box-shadow:box-shadow:         0px 1px 15px 0px rgba(50, 50, 50, 0.70);
}

.navlink a{
    color: white;
    font-size: 1rem;
    text-decoration: none;
}

.navlink:hover{
    border-radius: 1rem;
    border: 1px solid rebeccapurple; 
    background-color:rebeccapurple ;
    
}

.signIn{
    float: right;
    padding-right: 50px;  
    margin: 10px;  
}

.admin-login{

    display: flex;
    flex-direction: row;
    color:white;
}

.admin-container{
    background-image: url(images/mainbg.jpg);
    height: 100vh;
    background-size: cover;

}

.admin-gallery{

    display: flex;
    flex-direction: row;
    color:white;
}

.login-container{
    width:50%;
    margin: 2rem;
}

#password, #username{
    align-content: center;
    padding: 5px;
    margin: 2px;
    border-radius: 5px;
    border:2px solid rebeccapurple;;
}

label{
    align-content: center;
    margin-right: 10px;
}


.about-section-text{
    color: #FFFFFF;
    font-size:20px;
}

.about-nav{
    float:right;
    margin-right:40px;
}

.about-section{
    width: 35%;
    padding: 20px;
    text-align: left;
    display: inline-block;
    margin-right:20px;
    background-color: rgb(13, 1, 24, .4);
}

.about-video{
    width: 35%;
    padding: 10px;
    text-align: left;
    display: inline-block;
    vertical-align: top;
 
    } 

   

.about{
    margin: 0 auto;
    text-align: center;

}

.gallery-func{
    display: block;
    text-align: center;
    padding: .5rem;
}

.gallery-func a{
    color: white;
    text-decoration: none;
    border-radius: 2rem;
    border: 1px solid white;
    padding: .2rem 1rem;
    font-size: .9rem;
    transition: all 0.4s ;
   
}

.gallery-func a:hover{
    background-color: rebeccapurple;
    border: 1px solid rebeccapurple;

}

.category-func{
    display: block;
    padding: .5rem;
}

.category-func a{
    color: white;
    text-decoration: none;
    border-radius: 2rem;
    border: 1px solid white;
    padding: .2rem 1rem;
    font-size: .9rem;
    transition: all 0.4s ;
   
}

.category-func a:hover{
    background-color: rebeccapurple;
    border: 1px solid rebeccapurple;

}

.img-details{
    display: block;
    color: white;
    padding: .5rem;
}

.category-details{
    display: block;
    color: white;
    padding: .5rem;
}

#save,#cancel,#uploadImage,#saveImage{
padding: .5rem;
margin: 1rem;
height: 2rem;
width:10rem;
border-radius: .5rem;
text-align:center ;
}